<section>
                    <tr>
                        <td class="armor-info generic-name">{{localize "nexus.armor.name"}}:</td>
                        <td class="armor-info armor-name">{{name}}</td>
                    </tr>
                    <tr>
                        <td class="armor-info generic-armor">{{localize "nexus.armor.armor"}}:</td>
                        <td class="armor-info armor-armor">{{system.armor}}</td>
                        <td class="armor-info generic-regen">{{localize "nexus.armor.regen"}}:</td>
                        <td class="armor-info armor-regen">{{system.regen}}</td>
                    </tr>
                    <tr>
        
                    </tr>
</section>