<section>
    <div class="first-row">
        <div class="weapon-info generic-name">{{localize "nexus.weapon.name"}}:</div>
        <div class="weapon-info weapon-name">{{name}}</div>
        <div class="weapon-info generic-ammo">{{localize "nexus.weapon.ammo"}}:</div>
        <div class="weapon-info weapon-ammo"><input type="text" name="system.ammo.current" target="{{system.ammo.current}}" data-dtype="Number"/></div>
        <div class="separator">/</div>
        <div class="weapon-info max-ammo">{{system.ammo.max}}</div>
    </div>
    <div class="second-row">
        <div class="weapon-info generic-range">{{localize "nexus.weapon.range"}}:</div>
        <div class="weapon-info weapon-range">{{system.range}}</div>
        <div class="weapon-info generic-rate">{{localize "nexus.weapon.rate"}}:</div>
        <div class="weapon-info weapon-rate">{{system.rate}}</div>
        <div class="weapon-info generic-potency">{{localize "nexus.weapon.damage"}}:</div>
        <div class="weapon-info weapon-potency">{{system.damage}}</div>
        <div class="weapon-info generic-damage">{{localize "nexus.weapon.damage"}}:</div>
        <div class="weapon-info weapon-damage">{{system.damage}}</div>
    </div>
    <div class="third-row">
        
    </div>
</section>