<section>
    <tr>
        <td class="weapon-info generic-name">{{localize "nexus.weapon.name"}}:</td>
        <td class="weapon-info weapon-name">{{name}}</td>
        <td class="weapon-info generic-ammo">{{localize "nexus.weapon.ammo"}}:</td>
        <td class="weapon-info weapon-ammo"><input type="text" name="system.ammo.current" target="{{system.ammo.current}}" data-dtype="Number"/></td>
        <td>/</td>
        <td>{{system.ammo.max}}</td>
    </tr>
    <tr>
        <td class="weapon-info generic-range">{{localize "nexus.weapon.range"}}:</td>
        <td class="weapon-info weapon-range">{{system.range}}</td>
        <td class="weapon-info generic-rate">{{localize "nexus.weapon.rate"}}:</td>
        <td class="weapon-info weapon-rate">{{system.rate}}</td>
        <td class="weapon-info generic-potency">{{localize "nexus.weapon.damage"}}:</td>
        <td class="weapon-info weapon-potency">{{system.damage}}</td>
        <td class="weapon-info generic-damage">{{localize "nexus.weapon.damage"}}:</td>
        <td class="weapon-info weapon-damage">{{system.damage}}</td>
    </tr>
    <tr>
        
    </tr>
</section>