<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <div>{{localize "nexus.title.system"}}</div>
        <h1>NEXUS</h1>
        <div>{{{localize "nexus.title.directory"}}}</div>
    </header>

    <div class="sheet-content">

        <div class="sheet-left">
            
            <div class="sheet-attributes-box">
                <h2>{{localize "nexus.sheet.attributes.name"}}</h2>
                <div class="sheet-attributes-stats">
                <table>
                    <tr>
                        <td>{{localize "nexus.sheet.attributes.charisma"}}</td>
                        <td><input type="text" name="system.attributes.charisma"  value="{{system.attributes.charisma}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.attributes.bravery"}}</td>
                        <td><input type="text" name="system.attributes.bravery"  value="{{system.attributes.bravery}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.attributes.dexterity"}}</td>
                        <td><input type="text" name="system.attributes.dexterity"  value="{{system.attributes.dexterity}}" data-dtype="Number"/></td>
                    </tr>
                    <tr>
                        <td>{{localize "nexus.sheet.attributes.strength"}}</td>
                        <td><input type="text" name="system.attributes.strength"  value="{{system.attributes.strength}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.attributes.intellect"}}</td>
                        <td><input type="text" name="system.attributes.intellect"  value="{{system.attributes.intellect}}" data-dtype="Number"/></td>
                    </tr>
                </table>
                </div>
            </div>
            
            <div class="sheet-skills-box">
                <h2>{{localize "nexus.sheet.skills.name"}}</h2>
                <div class="sheet-skills-stats">
                <table>
                    <tr>
                        <td><input type="text" name="system.skills.coverfire"  value="{{system.skills.coverfire}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.coverfire"}}</td>
                    </tr>
                    <tr>
                        <td>{{localize "nexus.sheet.skills.brawling"}}</td>
                        <td><input type="text" name="system.skills.brawling"  value="{{system.skills.brawling}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.skills.hacking"  value="{{system.skills.hacking}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.hacking"}}</td>       
                    </tr>
                    <tr>
                        <td>{{localize "nexus.sheet.skills.xenotech"}}</td>
                        <td><input type="text" name="system.skills.xenotech"  value="{{system.skills.xenotech}}" data-dtype="Number"/></td>
                        {{#if (eq actor.type "commando")}}
                        <td><input type="text" name="system.skills.camouflage"  value="{{system.skills.camouflage}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.camouflage"}}</td>       
                    </tr>
                    <tr>
                        <td>{{localize "nexus.sheet.skills.sapper"}}</td>
                        <td><input type="text" name="system.skills.sapper"  value="{{system.skills.sapper}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.skills.medicine"  value="{{system.skills.medicine}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.medicine"}}</td>  
                    </tr>
                        {{/if}}
                        {{#if (eq actor.type "technologist")}}
                        <td><input type="text" name="system.skills.cybernetics"  value="{{system.skills.cybernetics}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.cybernetics"}}</td>       
                    </tr>
                    <tr>
                        <td>{{localize "nexus.sheet.skills.geology"}}</td>
                        <td><input type="text" name="system.skills.geology"  value="{{system.skills.geology}}" data-dtype="Number"/></td>
                        <td><input type="text" name="system.skills.mechanics"  value="{{system.skills.mechanics}}" data-dtype="Number"/></td>
                        <td>{{localize "nexus.sheet.skills.mechanics"}}</td>  
                    </tr>
                        {{/if}}
                </table>
                </div>
            </div>

            <div class="sheet-advantages">
                <h2>{{localize "nexus.sheet.advantage.name"}}</h2>
                <div class="sheet-advantages-lists">
                {{#each advantage as |advantage id|}}
                    {{> "systems/nexusblank/templates/partials/advantage-card.hbs" advantage}}
                {{/each}}
                </div>
            </div>

            <div class="sheet-implants">
                <h2>{{localize "nexus.sheet.implant.name"}}</h2>
                <div class="sheet-implants-lists">
                {{#each implant as |implant id|}}
                    {{> "systems/nexusblank/templates/partials/implant-card.hbs" implant}}
                {{/each}}
                </div>
            </div>

            <div class="sheet-conviction">
                <h2>{{localize "nexus.sheet.conviction"}}</h2>
                <div class="editor">
                {{editor enrichedConviction target="system.conviction" engine="prosemirror" button=true owner=owner editable=editable}}
                </div>
            </div>

        </div>

        <div class="sheet-right">

            <div class="sheet-main-box">
                <div class="sheet-name-box">
                    <h2>{{localize "nexus.sheet.name"}}</h2>
                    <input type="text" name="name" value="{{actor.name}}" data-dtype="String"/>
                </div>
                <div class="sheet-rank-box">
                    {{localize "nexus.sheet.rank"}}:
                    <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number"/>
                </div>
                <div class="sheet-humanity-box">
                    {{localize "nexus.sheet.humanity-coldness"}}:
                    <input type="text" name="system.humanity-coldness" value="{{system.humanity-coldness}}" data-dtype="Number"/>
                    {{localize "nexus.sheet.duty-rebellious"}}:
                    <input type="text" name="system.duty-rebellious" value="{{system.duty-rebellious}}" data-dtype="Number"/>
                    {{localize "nexus.sheet.merit"}}:
                    <input type="text" name="system.merit" value="{{system.merit}}" data-dtype="Number"/>
                    TRN:
                    <input type="text" name="system.trn" value="{{system.trn}}" data-dtype="Number"/>
                </div>
                <div class="sheet-image-health-box">
                    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                    {{localize "nexus.sheet.health"}}:
                    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"/>
                    / {{system.health.max}}


                </div>
            </div>

            <div class="sheet-weapons">
                <h2>{{localize "nexus.sheet.weapon.name"}}</h2>
                <div class="sheet-weapons-lists">
                {{#each weapon as |weapon id|}}
                    {{> "systems/nexusblank/templates/partials/weapon-card.hbs" weapon}}
                {{/each}}
                </div>
            </div>

            <div class="sheet-other">

                <div class="sheet-armor">
                    <h2>{{localize "nexus.sheet.armor.name"}}</h2>
                    <div class="sheet-armor-lists">
                    {{#each armor as |armor id|}}
                        {{> "systems/nexusblank/templates/partials/armor-card.hbs" armor}}
                    {{/each}}
                    </div>
                </div>

                <div class="sheet-inventory">
                    <h2>{{localize "nexus.sheet.inventory"}}</h2>
                    <div class="editor">
                    {{editor enrichedInventory target="system.conviction" engine="prosemirror" button=true owner=owner editable=editable}}
                    </div>
                    </div>
            </div>

        </div>

    </div>
</form>